@{
    DateTime today = DateTime.Now;
    var startingDay = today.ToString("yyyy-MM-dd");
}

@model TravelSupportModel;

<div class="container">
    <form asp-controller="TravelPackage" asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <strong>Nome:</strong>
            <input asp-for="TravelPackage.Name" class="d-block form-control w-100" />
            <span asp-validation-for="TravelPackage.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Immagine:</strong>
            <input asp-for="TravelPackage.CoverImage" class="d-block form-control w-100" />
            <span asp-validation-for="TravelPackage.CoverImage" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Descrizione:</strong>

            <textarea rows="8" asp-for="TravelPackage.Description" class="d-block form-control w-100"></textarea>
            <span asp-validation-for="TravelPackage.Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Data di partenza:</strong>
            <input type="datetime-local" min="@startingDay" value="@startingDay" asp-for="TravelPackage.DepartureDate" class="d-block form-control w-100" />
            <span asp-validation-for="TravelPackage.DepartureDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Data di ritorno:</strong>
            <input type="datetime-local" asp-for="TravelPackage.ReturnDate" min="@startingDay" value="@startingDay" class="d-block form-control w-100" />
            <span asp-validation-for="TravelPackage.ReturnDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Prezzo:</strong>
            <span class="input-group-text">€</span>
            <input asp-for="TravelPackage.Price" class="d-block form-control w-100" />
            <span asp-validation-for="TravelPackage.Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Categoria:</strong>
            <select asp-for="TravelPackage.CategoryId" class="form-select" aria-label="Default select example">
                @foreach (Category category in Model.Categories)
                {
                    @if (Model.TravelPackage.CategoryId == category.Id)
                    {
                        <option selected value="@category.Id">@category.Name</option>
                    }
                    else
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                }
            </select>
            <span asp-validation-for="TravelPackage.CategoryId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Trasporto:</strong>
            <select asp-for="TravelPackage.TransportId" class="form-select" aria-label="Default select example">
                @foreach (Transport transport in Model.Transports)
                {
                    @if (Model.TravelPackage.TransportId == transport.Id)
                    {
                        <option selected value="@transport.Id">@transport.Name</option>
                    }
                    else
                    {
                        <option value="@transport.Id">@transport.Name</option>
                    }
                }
            </select>
            <span asp-validation-for="TravelPackage.TransportId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Destinazione:</strong>
            <select asp-for="TravelPackage.DestinationId" class="form-select" aria-label="Default select example">
                @foreach (Destination destination in Model.Destinations)
                {
                    @if (Model.TravelPackage.DestinationId == destination.Id)
                    {
                        <option selected value="@destination.Id">@destination.Name</option>
                    }
                    else
                    {
                        <option value="@destination.Id">@destination.Name</option>
                    }
                }
            </select>
            <span asp-validation-for="TravelPackage.DestinationId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Tags:</strong>
            <select multiple
                    asp-for="SelectedTags"
                    size="10"
                    class="form-select">
                @foreach (Tag ingredient in Model.Tags)
                {
                    @if (Model.TravelPackage.Tags != null && Model.TravelPackage.Tags.Contains(ingredient))
                    {
                        <option selected value="@ingredient.Id">@ingredient.Name</option>
                    }
                    else
                    {
                        <option value="@ingredient.Id">@ingredient.Name</option>
                    }
                }
            </select>
        </div>

        <div class="text-end">
            <input type="submit" class="btn btn-small btn-info" value="Salva">
        </div>
    </form>
</div>