@model TravelPackage;

<div class="m-auto text-center my-3">
    <h2>@Model.Name</h2>
    <div class="card d-flex justify-content-between ">
        <div class="card-img">
            <img src="@Model.CoverImage" class="card-img-top" alt="Image of @Model.Name">
        </div>
        
        <div class="card-body">
            <h2>@Model.Name</h2>
            <span class="card-text d-block">@Model.Description</span>
            <span class="card-text d-block">@Model.Price</span>
        </div>
    </div>
</div>
<div><h2>Messaggi:</h2></div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titolo</th>
            <th scope="col">Email</th>
            <th scope="col">Mittente</th>
            <th scope="col">Testo</th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Messages.Count == 0)
        {
            <tr>
                <th>Non ci sono messaggi</th>
            </tr>
        }
        else
        {
            @foreach (Message message in Model.Messages)
            {

                <tr>
                    <th scope="row">@message.Id</th>
                    <td>@message.Title</td>
                    <td>@message.Email</td>
                    <td>@message.Sender</td>
                    <td>@message.Body</td>

                </tr>
            }
        }

    </tbody>
</table>