@model List<TravelPackage>;

<div class="text-center mb-3">
    <h2 class="fw-bold">Travels:</h2>
    <a class="btn add-btn " asp-area="" asp-controller="TravelPackage" asp-action="Create">Aggiungi Pizza</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Destinazione</th>
            <th scope="col">Data di partenza</th>
            <th scope="col">Data di ritorno</th>
            <th scope="col">Prezzo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (TravelPackage travel in Model)
        {
            <tr>
               
                <th scope="row">@travel.Id</th>

                <td>  <a href="@Url.Action("Details","TravelPackage",new {id = travel.Id})">@travel.Name  </a></td>
               
                <td>@travel.Destination</td>
                <td>@travel.DepartureDate</td>
                <td>@travel.ReturnDate</td>
                <td>@travel.Price €</td>
            </tr>
        }

    </tbody>
</table>